<!DOCTYPE html>
<html>
  <head>
    <title>Actor4</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <h1>Tom Hanks</h1>
    <p>Oscar-winning actor known for roles in Forrest Gump, Cast Away, and Toy Story.</p>
  </body>
</html>
